!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js');
    script(src='/javascripts/main.js');
  body
    header
      div(class='inner')
        nav
          ul
            li 
              a Achievements
            li
              a About
    article
      section(id='about')
        div(class='wrap')
          h1= title
      section(id='documentation')
        div(class='wrap')!= body
      section(id='examples')