!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js');
    script(src='/javascripts/main.js');
  body
    header
      div(class='inner')
        nav
          ul
            li 
              a(href='#about') About
            li
              a(href='#documentation') Documentation
            li
              a(href='#examples') Examples
    article
      section(id='about')
        div(class='section-wrap')
          h2= title
          p This Page shows your achievements on github based on the public information avail.
      section(id='documentation')
        div(class='section-wrap')
          h2 Documentation
      section(id='examples')
        div(class='section-wrap')!= body